header {
    font-family: Chalkboard;
    text-align: left;
    background: #3d3d3d;
    color: white;
    padding-left: 10px;
}
h1 {
    font-size: 80px !important;
    font-family: Chalkboard;

}
a {
    padding: 10px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: darkgray;
}
body {
    background: gray !important;
}
.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #60b3eb;
    padding: 20px;
}
.main-content {
    padding: 10px;
    margin-left: 20%;
}
.welcome {
    text-align: center;
}
.login {
    text-align: center;
}
footer {
    margin-top: 50px;
    margin-left: 20%;
    border-top: black solid 2px;
    padding-top: 50px;
    text-align: center;
}