.main-content {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}

.main-content p {
    width: 50%;
    padding-bottom: 15px;
}

.img {
    width: 50px;
}